body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Comic Sans MS";
    background: linear-gradient(to bottom right, #00c1ff, #101e46);
}
a {
    color: white;
}
#full-header {
    width: 1000px;
    height: 80px;
    margin-bottom: 15px;
}

#header-name {
    font-size: 60px;
    color: white;
    padding: 15px;
    margin: 0px 0px 0px 0px;
    height: 80px;
    font-family: Playbill;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    letter-spacing: 2px;
}

nav > ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    background-color: #223F8F;
    overflow: hidden;
    
}


nav > ul > li {
    float: left;
    display: block;
}
nav > ul > li > a {
    
    padding: 14px 16px;
    color: white;
    text-align: center;
    width: 300px;
    background-color: #223F8F;
    text-decoration: none;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
    float: left;
}

#main-image {
    width: 700px;
    height: 250px;
    float: left;
    margin-bottom: 8px;
}

#side-image {
    width: 300px;
    height: 250px;
    float: right;
    margin-bottom: 8px;
}

/*#welcome {
    width: 700px;
    float: left;
    color: white;
    margin: 20px 0px 20px 0px;
}
    #welcome > h2 {
        font-family: Playbill;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        letter-spacing: 2px;
    }*/

#search {
    float: right;
    padding: 5px;
    margin: 16px 10px 0px 0px;
}

#recent-news {
    float: right;
    width: 290px;
    height: 400px;
    margin: 2px 0px 2px 0px;
    border: solid;
    border-radius: 5px;
    border-color: black;
    padding-bottom: 8px;
}

#recent-news > ul > li > a {
    text-decoration: none;
    
}

    #recent-news > header {
        margin-left: 5px;
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
        font-family: Playbill;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        letter-spacing: 2px;
    }

footer {
    width: 100%;
    background-color: #223F8F;
    margin: 20px 0px 20px 0px;
    padding: 5px 0px 0px 0px;
    border-radius: 5px;
    color: white;
    clear: both;
}

#recent-news > ul {
    
}

    #recent-news > ul > li {
        margin-bottom: 3px;
    }

#main {
    height: 100%;
    width: 700px;
    float: left;
    margin-bottom: 3px;
}

#shirt-header {
    color: white;
    font-size: 20px;
    margin-bottom: 3px;
    height: 25px;
}

.products {
    width: 70%;
    float: left;
    margin-bottom: 20px;
}

.product-article {
    height: 270px;
    width: 225px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: 3px 3px 3px 13px;
    border-radius: 5px;
    float: left;
    color: white;
    background-color: black;
}

.product-thumbnail {
    height: 150px;
    width: 150px;
    padding: 0px;
}
p {
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
#header-title {
    font-weight: bold;
}
.add-to-cart {
    float: right;
    margin: 0px 4px 3px 0px;

    
    border: 2px;
    border-radius: 6px;
    border-color: black;

    color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    background-color: #223F8F;
}



